doctype html
html
    head
        block title
            title 博客后台管理系统
        link(rel='stylesheet' href='//g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css')
        link(rel='stylesheet' href='//g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css')
        link(rel='stylesheet' href='/admin/css/common.css')
        script(src='/admin/libs/browser-update.js')
        block meta
    body
        block body
        script(src='//g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js')
        script(src='//g.alicdn.com/bui/bui/1.1.21/bui.js')
        block footer