extends layout.jade

block meta
    link(rel='stylesheet' href='/admin/css/login.css')

block body
    .login-wrapper
    .login-box
        form#login-form.form-horizontal(onsubmit='return false')
            h1.login-title 博客管理后台
            .control-group
                .controls
                    input.span8(type='text',name='username',data-rules='{required:true}',data-messages='{required:"用户名不能为空"}',data-tip='{text:"用户名"}')
            .control-group
                .controls
                    input.span8(type='password',name='password',data-rules='{required:true}',data-messages='{required:"密码不能为空"}',data-tip='{text:"密码"}')
            button.button.button-primary.button-large 登录
            div.tip.text-right.fz-14.m-t-10 不知道账号？
                a#getAccount(href='javascript:;') 点我呀！
                
block footer
    script(src='/admin/libs/sha1.js')
    script(src='/admin/js/login.js')